bitshuffle
drmaa
ispyb>=6.1.0,<6.2
junit-xml>=1.9
marshmallow-sqlalchemy
msgpack-python
networkx
pika
procrunner>=1.0.2
pytest
pytest-mock
pyyaml
sqlalchemy>=1.4.0,<1.5
stomp.py
workflows>=2.0
xmltodict
zocalo>=0.7.3
