bitshuffle
drmaa
ispyb>=6.10.0,<6.11
junit-xml>=1.9
marshmallow-sqlalchemy
minio>=7.1.0
msgpack-python
networkx
pandas
pika
pint
procrunner>=1.0.2
pydantic
pytest
pytest-mock
python-htcondor>=9.2.0
pyzmq
pyyaml
sqlalchemy>=1.4.0,<1.5
stomp.py
workflows>=2.15
xmltodict
zocalo>=0.13.0
