bitshuffle
drmaa
ispyb>=6.4.0,<6.5
junit-xml>=1.9
marshmallow-sqlalchemy
msgpack-python
networkx
pika
procrunner>=1.0.2
pytest
pytest-mock
pyzmq
pyyaml
sqlalchemy>=1.4.0,<1.5
stomp.py
workflows>=2.0
xmltodict
zocalo>=0.7.3
